My First Jupyter Notebook

Kaggle: Your First Machine Learning Model
Basic Data Exploration

Import pandas library.

In [1]:
import pandas as pd

Read the CSV file.

In [2]:
file_path = '../input/train.csv'
data = pd.read_csv(file_path)

In [3]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

Select the prediction target.

In [4]:
year_built = data.YearBuilt

Choosing features.

In [5]:
features = ['MSSubClass', 'LotArea', 'Street', 'Utilities', 'OverallQual']

In [6]:
x = data[features]

Review the data using the describe method.

In [7]:
x.describe()

        MSSubClass        LotArea  OverallQual
count  1460.000000    1460.000000  1460.000000
mean     56.897260   10516.828082     6.099315
std      42.300571    9981.264932     1.382997
min      20.000000    1300.000000     1.000000
25%      20.000000    7553.500000     5.000000
50%      50.000000    9478.500000     6.000000
75%      70.000000   11601.500000     7.000000
max     190.000000  215245.000000    10.000000

Show the top 5 rows.

In [8]:
x.head()

   MSSubClass  LotArea Street Utilities  OverallQual
0          60     8450   Pave    AllPub            7
1          20     9600   Pave    AllPub            6
2          60    11250   Pave    AllPub            7
3          70     9550   Pave    AllPub            7
4          60    14260   Pave    AllPub            8